body{
    background-color: rgb(22, 32, 93);
    font-family:  Bangers;
}

p{
    font-family: Chakra Petch;
}

@media(max-width: 991px) {
    .sidebar{
        background-color: rgba(161, 154, 154, 0.142);
        backdrop-filter: blur(10px);
    }  
}

.inicio{
    background-image: linear-gradient(rgba(2, 5, 33, 0.568), rgba(58, 71, 116, 0.61)), url(../assets/bg.jpg);
    background-repeat: repeat;
    background-size: cover;
   
}

.cont-inicio{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parra-inicio{
    width: 35%;
    color: white;
}

.nivel{
    background-color: rgba(79, 157, 78, 0.516);
    border: 2px solid rgba(119, 184, 118, 0.905);
    border-radius: 20px;
    display: flex;
    margin: 10px;
    padding: 20px;
    align-items: center;
    width: 95%;
}

.nivel h4{
    background-color: rgb(113, 198, 73);
    width: 35%;
    padding: 3px;
    border-radius: 50px;
    color: rgb(8, 75, 8);
    margin-bottom: 3%;
}

.niveles{
    width: 80vw;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0px auto;
    padding: 2vw;
}

.imgNivel{
    width: 25%;
    margin: 5%;
}

.explicacionNiv{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
}